<div class="container">
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Email commenter:</strong>
  <%= comment.mail_commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<hr>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Destroy comment', [comment.article, comment],
                 method: :delete,
                 data: { confirm: '¿Estás seguro que deseas eliminar el comentario?' } %>
  <% end %>
</p>
</div>